<html>
<head>
{% include 'scripts.html' %}
<style>
	.material-icons {
		user-select: none;
		transition: all 0.3s ease 0s;
		border-radius:15px;
	}
	.material-icons:hover {
		cursor: pointer;
	}
	
	.material-icons.del:hover {
		
		background-color: red;
		color: white;

	}
	
	.material-icons.pay:hover {
		
		background-color: green;
		color: white;

	}
	.contractc {
	}
	
</style>
</head>
<body>
<div class="container">
{% if contracts %}
<div align="center"><h1>Список контрактов</h1></div>
<div class="collection">
{% for c in contracts %}
	<div class="contractc">
	<div style="padding-left:5vw;" class="collection-item">
	<b>{{ c.ename }}</b>
	<i>{{ c.name }} {{ c.surname }} {{ c.third_name }}</i> ({{ c.hired }})
	{% if c.payed %}
	Оплачено
	{% else %}
	Не оплачено {{ c.comissions }} р.
	{% endif %}

	
	</div>
	<div style="display:flex; justify-content:end;">
	<i class="material-icons del" onclick="delContract({{c.id}})">delete</i>
	<i class="material-icons pay" onclick="pay({{c.id}})">attach_money</i>
	</div>
	</div>
{% endfor %}
</div>
{% endif %}
<a href="/">На главную</a>
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Оплатите контракт</h4>
      </div>
       <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
      </div>
      
      
      <div id="modal-form-employee" class="modal">
    <div class="modal-content">
      <h4>Зарегистрироваться</h4>
      
  
        
  <div class="row">
    <div class="input-field col s6">
      <input value="" id="ecname" type="text" class="validate">
      <label class="active" for="first_name2">Имя</label>
    </div>
  </div>
  
  
  <div class="row">
    <div class="input-field col s6">
      <input value="" id="ecsurname" type="text" class="validate">
      <label class="active" for="first_name2">Фамилия</label>
    </div>
  </div>
  
  
  <div class="row">
    <div class="input-field col s6">
      <input value="" id="ecthirdname" type="text" class="validate">
      <label class="active" for="first_name2">Отчество</label>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s6">
      <input value="" id="ecjob" type="text" class="validate">
      <label class="active" for="first_name2">Профессия</label>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s6">
      <input value="" id="ecmail" type="text" class="validate">
      <label class="active" for="first_name2">Email</label>
    </div>
  </div>
        
    </div>
    <div class="modal-footer">
      <a href="#!" 
      onclick="postEmployee()" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
  <div align="center">

  <a class="waves-effect waves-light btn" href="#" onclick="createEmployee()">Зарегистрироваться</a>
</div>
</div>
<script>
	$(function () {
		$('.modal').modal();
		$( "#ecname" ).change(function() {
			localStorage.setItem('ecname', $( "#ecname" ).val());
		});
		$( "#ecsurname" ).change(function() {
			localStorage.setItem('ecsurname', $( "#ecsurname" ).val());
		});
		
		$( "#ecthirdname" ).change(function() {
			localStorage.setItem('ecthirdname', $( "#ecthirdname" ).val());
		});
		
		$( "#ecjob" ).change(function() {
			localStorage.setItem('ecjob', $( "#ecjob" ).val());
		});
		
		$( "#ecmail" ).change(function() {
			localStorage.setItem('ecmail', $( "#ecmail" ).val());
		});
	});
	function delContract(id) {
		postAjax(url='/delContract', data={ 'id' : id }, successf = function (data) {
		    console.log(data)
		}, errorf = function(xhr, status, error1) {
		if(xhr.status == 403) {
			$('.modal').modal('open');
		}
		});
	}
	function pay(id) {
		postAjax('/payContract', { 'id' : id });
	}
	
	function createEmployee() {
		$('#modal-form-employee').modal('open');
	}
	
	function postEmployee() {
		let ecname = localStorage.getItem('ecname');
		let ecsurname = localStorage.getItem('ecsurname');
		let ecthirdname = localStorage.getItem('ecthirdname');
		let ecjob = localStorage.getItem('ecjob');
		let ecmail = localStorage.getItem('ecmail');
		
		postAjax('/postEmployee', { 'ecname' : ecname, 'ecsurname' : ecsurname, 'ecthirdname' : ecthirdname, 'ecjob' : ecjob, 'ecmail' : ecmail});
	}
</script>
</body>
</html>